/* Here is your custom css styles. */
@font-face{
    font-family: 'mySubtitleFont';
    src: url('../font/ZhiMangXing-Regular.ttf');
}

.diyFont{
    font-family: 'mySubtitleFont';
}


@font-face{
    font-family: 'myTitleFont';
    src: url('../font/ZCOOLKuaiLe-Regular.ttf');
}

.diyTitleFont{
    font-family: 'myTitleFont';
}
